<h1>WAX</h1>
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(167,167,167,0.5) 0%, rgba(154,154,154,0.5) 50%), url('<%= image_path 'banner.png' %>');">
<%#= image_tag "banner.png", class: "banner-home" %>
