.shop-button {
  margin: 10px 20%;
  border: solid black 1px;
  padding: 10px;
  border-radius: 4px;
}

.btn-white {
  padding: 2px 10px;
  border: 2px solid white;
  border-radius: 2px;
  margin: 0 20%;
  // width: fit-content;
}
