.favorites{
  padding: 2% 0 3% 0;
}

.favorites-cards{
  padding: 10px 5px;
}

.favorites-image {
  img {
    height: 290px;
    width: 100%;
    transition: all 1.3s;
  }
}

// .favorites-image:hover img {
//   transform: scale(1.3);
// }
.favorites-description {
  background-color: white;
  padding: 5px 0;
  text-align: center;
}


